.card {
    width: 450px;
    height: 450px;
    border-radius: 25px;
    margin-top: 120px;
}
.form-check a {
    text-decoration: none;
}
.form-check button {
    background-color: #754ffe;
    border: none;
    outline: none;
    margin-left: -22px;
    text-align: center;
    width: 350px;
}